.App {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #f4c2c2;
}

@media only screen and (orientation: portrait) {
  .date-container {
    flex-direction: column !important;
    font-size: 7vw !important;
  }
  img {
    display: none;
  }
} 

.date-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 7vh;
  font-family: Black Vosten Personal Use;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.date {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 20%;
  margin: 10%;
  user-select: none;
  -webkit-user-drag: none;
}

.panda-picture {
  position: fixed;
  top: 50%;
  /* transform: translate(0,-50%); */
  width: 60vh;
  user-select: none;
  -webkit-user-drag: none;
}

.falling-picture {
  position: fixed;
  top: 0;
  right: 0;
  /* transform: translate(0,-50%); */
  width: 50vh;
  user-select: none;
  -webkit-user-drag: none;
}